/* =========================
   GLOBALE VARIABELEN
========================= */

:root {
    --border-width: 6px;
    --border-style: groove;
    --border-radius: 30px;
    --border-color: rgb(124, 151, 45);
}

/*hier kan je font veranderen */

@font-face {
    font-family: fwont;
    src: url(../fonts/Sprintura\ Demo.otf);
}

/*achtergrond */
body {
    font-family: fwont;
    background: url("../img/Ubuntu-Mate-Cold-no-logo.PNG") no-repeat fixed center/cover;
    background-size: cover;
    margin: 0px;
}

a:hover {
    color: rgb(4, 70, 4);
}

/*navigatie balk*/
nav {
    font-family: fwont;
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 10px 0px;
    color: rgb(0, 0, 0);
    border: 2px solid black;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

nav a {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 10px;
    max-width: 900px;

    border: var(--border-width) var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

/*welkom div*/
.welkom {
    display: flex;
    justify-content: center;
}

.welkom h1 {
    color: rgb(255, 255, 255);
    font-family: fwont;
    padding: 3px 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 1%;
    border: var(--border-width) var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

/*hier kunt u alles lezen over mijn spel van mijn spel lezen! text*/
.lezen {
    display: flex;
    justify-content: center;
}

.lezen h2 {
    margin: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: var(--border-width) var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

/*foto van script*/
img {
    height: auto;
    width: 30%;
    max-width: 900px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2%;
    border: var(--border-width) var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

.plaatje {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* =========================
   DOWNLOAD
========================= */
.download {
    display: flex;
    flex-direction: column;
    justify-self: center;

    max-width: 900px;
    font-size: 40px;
    margin-bottom: 30px;
    padding: 5px 80px;

    border: var(--border-width) var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

.download a {
    color: white;
}
.download a:hover {
    color: rgb(4, 70, 4);
}

/* =========================
   UITLEG
========================= */
.uitleg {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 900px;
    gap: 50px;
}

.uitleg1 {
    display: flex;
    width: 100%;
    gap: 10px;
}

.doel,
.nodig {
    min-height: 300px;
    width: 50%;
    border: var(--border-width) var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

.doel h3,
.nodig h3 {
    color: white;
    padding-left: 10px;

    border-bottom: var(--border-width) var(--border-style);
    border-color: var(--border-color);
}

.doel p,
.nodig p {
    color: white;
    padding: 2%;
}

.doel .vww img {
    height: auto;
    width: 10%;
    margin: 3%;
}

/* =========================
   UITLEG 2
========================= */
.uitleg2 {
    min-height: 300px;
    margin-left: 20%;
    margin-top: 2%;
    width: 59%;
    border: var(--border-width) var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

.uitleg2 h3 {
    color: white;
    display: flex;
    justify-content: center;
    border-bottom: var(--border-width) var(--border-style);
    border-color: var(--border-color);
}

.uitleg2 p {
    color: white;
    padding: 1%;
}

.uitleg2 table {
    border: 2px solid white;
    border-collapse: collapse;
    margin-top: 1%;
    margin-bottom: 1%;
}

.uitleg2 th,
td {
    border: 2px solid white;
    color: white;
}

.uitleg3 {
    min-height: 300px;
    width: 45%;
    border: var(--border-width) var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

.uitleg3 h3 {
    color: white;
    border-bottom: 6px groove rgb(120, 146, 44);
    display: flex;
    justify-content: center;
}

.uitleg3 p {
    color: white;
    padding: 0%;
    margin: 1%;
}

.uitleg3 .input-img {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.uitleg3 img {
    height: auto;
    width: 90%;
}

.uitleg4 {
    min-height: 300px;
    width: 45%;
    border: var(--border-width) var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

.uitleg4 h3 {
    color: white;
    border-bottom: 6px groove rgb(120, 146, 44);
    display: flex;
    justify-content: center;
}

.uitleg4 p {
    color: white;
    margin: 1%;
    padding: 0%;
}

.uitleg4 .eindespel {
    margin-bottom: 10%;
}

.uitleg34 {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 20%;
}

.plezier {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: 6px groove;
    width: 58%;
    margin-left: 20%;
    margin-top: 2%;
    font-size: 20px;
    padding: 10px;
    border: var(--border-width) var(--border-style);
    border-color: var(--border-color);
    border-radius: var(--border-radius);
}

.plezier h2 {
    color: white;
    font-size: 20px;
}

/* =========================
   FOOTER
========================= */
footer {
    max-width: 900px;
    width: 100%;
    margin: auto;
}

footer ul {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    padding: 5px;
    color: white;
}

footer a {
    border: none;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}