* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #111;
    color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #2a5cda, #46ae9b, #3280b0);
    padding: 10px 20px; 
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0px;
    background-color: #3280b0;
    padding: 15px;
}

.dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
}